<app-nav (delete)="deleteItem()"></app-nav>
<div class="jumbotron">
  <h3 class="text-center text-uppercase">Item Details</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-4">
      <h6>Item Description</h6>
      <ul class="list-group">
        <li class="list-group-item">
          {{itemDetails?.item}}
        </li>
        <li class="list-group-item">
          {{itemDetails?.item_description}}
        </li>
        <li class="list-group-item">
          {{itemDetails?.item_price}} Naira
        </li>
      </ul>
    </div>
    <div class="col-lg-6 mt-4">
      <h6>Buyers details</h6>
      <div class="list-group">
        <a *ngFor="let bid of itemDetails?.bids" class="list-group-item list-group-item-action text-primary justify-content-between d-flex"
          data-toggle="modal" data-target="#myModal" (click)="populateDetails(bid)">
          Buyers Name - {{bid.full_name}}
          <span>
            <button class="btn btn-secondary btn-sm">click to view</button>
          </span>
        </a>
      </div>
      <app-bidmodal [bidDetails]="bidDetails"></app-bidmodal>
    </div>
  </div>
</div>