<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./styles/style.css"> -->
    <title>StuShop</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" style="font-weight: bolder;" href="#">StuShop</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app">Login</a>
                </li>

                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li> -->
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Find your item">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" style="height: 36vh;">
        <div class="container">
            <h1 style="font-weight: bolder;">Sell Just Anything</h1>
            <p>Upload items you want to sell and get buyers bidding for them ...</p>
            <a href="/auth/signup" class="btn btn-success btn-action">Get Started</a>
            
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <br>
                <div class="card-columns">
                    <% for(let i = 0; i < items.length; i++) { %>
                    <div class="card">
                        <div class="card-body text-center">
                            <p class="card-text"><%= items[i].item %></p>
                            <a href="/product/<%= items[i]._id %>" class="btn btn-outline-primary">See item</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>