<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" style="font-weight: bolder;" href="/">StuShop</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/app#" id="navbardrop" data-toggle="dropdown">
          Actions
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/app/">Back to dashboard</a>
          <a class="dropdown-item" routerLink="/app/item">Upload Item</a>
          <a class="dropdown-item list-group-item-danger" data-toggle="modal" data-target="#my-modal"
            routerLink="/app/item">Delete Item</a>
        </div>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Find your item"> -->
      <button class="btn btn-secondary" type="submit" routerLink="/app/dashboard">Dashboard</button>
    </div>
  </div>
</nav>

<div class="modal fade" id="my-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Are you sure you want to delete this item?</p>
        <p>
          <button class="btn btn-danger" data-dismiss="modal" (click)="delete.emit()">Yes</button>
        </p>
      </div>
    </div>
  </div>
</div>